.container {
    width: 1095px;
    margin-left: auto;
    margin-right: auto;
}
.page-body {
    width: 100%;
    background-color: black;
}
.services {
    background-image: url("../img/header-bg.jpeg");
    margin-bottom: 120px;
    display: block;
    min-height: 945px;
}
.header-info {
    display: flex;
   justify-content: space-between;
    list-style: none;
    background-color: black;
    margin-top: 46px;
    margin-bottom: 96px;
    padding: 0;
}
.header-phone {
    display: flex;
    text-align: right;

}
.header-phone-number {
    text-decoration: none;
    color: #E4B564;
    font-size: 20px;
    line-height: 29px;

}
.accent-color {
     color: white;
 }
.header-callback {
    width: 218px;
    text-align: right;
    border: 1px solid #E4B564;

}
.callback-item {
    margin-right: 10px;
}
.callback-number {
    width: 108px;
    height: 22px;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
   margin: 10px 25px 10px 0;

}

.section-title {
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 96px;
    padding-top: 30px;


}
.section-subtitle {
    width: 886px;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.services-list {
    display: grid;
    grid-auto-columns:1fr 1fr 1fr;
    grid-auto-rows: 350px;
    column-gap:25px ;
    row-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-areas:
"item-1 item-1 item-2 item-2 item-3 item-3"
    "item-4 item-4 item-4 item-5 item-5 item-5";

}
.services-item-title {
    display: grid;
    text-align: center;
    text-decoration: none;
    margin-top: 165px;
    margin-bottom: 165px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;

}
.services-item-title-2 {
    /* margin-bottom: 154px;
    margin-top: 154px; */
}
.services-item-1 {
    background-color:#634F2C;
    grid-area: item-1;
}
.services-item-2 {
    background-color: #B4A385;
    grid-area: item-2;

}
.services-item-3 {
    background-color: #E4B564;
    grid-area: item-3;

}
.services-item-4 {
    background-color: #635A4A;
    grid-area: item-4;

}
.services-item-5 {
    background: #B08C4D;
    grid-area: item-5;
}

.section-header-autopark {
    margin-bottom: 70px;
}
.autopark-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 890px;
    padding: 0;
    margin-top: 70px;
    align-content: space-between;

}

.autopark-item-title {
    text-decoration: none;
    color: #FFFFFF;
    width: 226px;
    height: 37px;
    margin: 33px 85px 164px 39px;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: flex-start;
}
.autopark-item {
    list-style: none;

}
.autopark-item-1 {
    width: 350px;
    height: 234px;
    order: 1;
    background-color: #0E0E0E;
    margin-right:22px;
    margin-bottom: 18px;
}

.autopark-item-2 {
     width: 350px;
     height: 420px;
     order: 2;
    margin-bottom: 143px;
     background-color: #1F1F1F;
 }
.autopark-item-3 {
    width: 350px;
    height: 329px;
    margin-bottom: 25px;
    order: 3;
    background-color: #1F1F1F;
}
.autopark-item-4 {
    width: 350px;
    height: 303px;
    margin-bottom: 128px;
    order: 4;
    background-color: #E4B564;
}
.autopark-item-5 {
    width: 350px;
    height: 191px;
    margin-left: 22px;
    margin-bottom: 19px;
    order: 5;
    background-color: #242424;

}
.autopark-item-6 {
    width: 350px;
    height: 234px;
    margin-left: 22px;
    margin-bottom: 19px;
    order: 6;
    background-color: #0E0E0E;
}
.autopark-item-7 {
    width: 350px;
    height: 207px;
    margin-left: 22px;
    margin-bottom: 143px;
    order: 7;
    background-color: #0A0909;
}

.clients {
    margin-bottom: 178px;
    background-image: url("/img/parallax-bg.jpeg");
    display: block;
    min-height: 819px;
}
.header-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 129px;
    margin-bottom: 54px;
}
.clients-list {
    display: grid;
    grid-template-columns: 365px 365px 365px;
    grid-template-rows: 290px 290px;
    padding: 0;
}
.clients-item {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 25px;
    position: relative;

    color: #FFFFFF;
}

.clients-title {
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
.clients-project {
    border: 1px solid #E4B564;
    text-decoration: none;
    color: #E4B564;
    padding: 10px 40px;
    font-size: 18px;
    line-height: 30px;
}

.clients-item-1 {
    background-color: #634F2C;
}
.clients-item-2 {
    background-color: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;

}
.clients-item-3 {
    background-color: #E4B564;
}
.clients-item-4 {
    background-color: #635A4A;
}
.clients-item-5 {
    background-color: #B08C4D;
}
.clients-item-6 {
    background-color: #634F2C;
}
.company-adress {
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.clients-description {
    width: 244px;
    height: 105px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-top: 92px;
    margin-bottom: 45px;
    padding: 142px 60px 45px 60px;
    z-index: -1;
    position: absolute;
}

.clients-item:hover > .clients-description {
    z-index: 1;
}